*          text=auto
*.bat      text eol=crlf
*.go       text
*.json     text
*.md       text diff=markdown
*.sh       text eol=lf
*.yaml     text
*.yml      text
go.mod     text
go.sum     text
LICENSE    text
Makefile   text linguist-vendored
