.DS_Store
*.log
*.sw[mnpcod]
*.tmp
*.tmp.*
*~
/.github/prompts/
$RECYCLE.BIN/
Thumbs.db
UserInterfaceState.xcuserstate

.vscode/*
!.vscode/*.code-snippets
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.history/
*.vsix

.go-version
/agwctl
/coverage.out
/dist/
/public/
/vendor/
